body {
    background: #8ECAE6;
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
}

.header {
    display: flex;
    justify-content: center;
    background: #023047;
    padding: 0.5em;
    color: white;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.gameDisplay {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 5px;
    row-gap: 5px;
    background: #219EBC;
    padding: 0.3em;
    border-radius: 10px;
}

.gameDisplay > .square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border: black solid 3px;
    border-radius: 5px;
}

.footer {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
}

.github {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.github > a {
    color: #023047;;
}

.github > a:hover {
    text-decoration: none;
    color: #FB8500;
}